body {
    font-family: Arial, sans-serif;
    background: black;
    text-align: center;
    margin-top: 10px;
}

#worldmap {
    margin: 0 auto;
}

#worldmap svg {
    background: rgba(110, 114, 116, 0.4);
    border-radius: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.land {
    fill: rgba(94, 82, 82, 0.94);
}

#globesarecool {
    color: #cf3ac2;
}

/* New rule for text color */
/* New rule for text color */
h1 {
    color: red;
}

h2 {
    color: blue;
}