body {
    background: rgb(36, 36, 36);
    text-align: left;
    margin-top: 10px;
}

#worldmap {
    margin: 0 auto;
}

#worldmap svg {
    background: rgba(110, 114, 116, 0.4);
    border-radius: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.land {
    fill: rgba(143, 142, 142, 0.94);
}

#globesarecool {
    color: #cf3ac2;
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(250, 250, 254);
}

a {
    color: white;
}